* {
    font-family: "Times New Roman", Times, serif;
}

/* HEADER */
header{
    background: url("https://i.postimg.cc/hPzzJNCB/fondo.jpg");
    align-items: center;
    padding: 40px;
    width: 100%;
    background-repeat: repeat;
}

.logo {
    width: 150px;
}

/* BODY */

.title {
    font-size: 5em;
    color: grey;
    font-weight: bolder;
    text-align: center;
}  

.subtitle {
    font-size: 2em;
    color: black;
    font-weight: bolder;
    text-align: center;
    border-top: 5px solid black;
    border-top: solid;
}

.section1 .tipo-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.soda, .tables, .shop {
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.menu {
    max-width: 350px;
    height: 250px;
}

.titlefood {
    font-weight: bolder;
}

/* COMUNICACION */
.section2 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.section2 .box-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
}

.form-comunicate {
    text-align: center;
    background-color: #070707;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
}


/* RESERVA */

.section3 {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.section3 .box-reservation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
}

.form-reservation {
    text-align: center;
    background-color: #070707;
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
}


/* FOOTER   */

footer {
    align-items: center;
    padding: 120px;
    width: 100%;
    background: url("https://i.postimg.cc/hPzzJNCB/fondo.jpg");
    background-color: black;
    background-repeat: no-repeat;
}

footer .footer-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    color: #fff;
}
/* pantalla pequeña */
@media (max-width: 555px) {

    .section1, .tipo-servicios {
        flex-flow: column wrap;
        width: 100vw;
        padding: 0px;
    }

    .section2 {display: none;}
    .section3 {display: none;}

}
/* pantalla mediana */
@media (min-width:556px) and (max-width: 1180){

    .section1, .tipo-servicios {
        flex-flow: column wrap;
        width: 100vw;
        padding: 0px;
    }

    .section2 {display: none;}
    .section3 {display: none;}

}
/* pantalla grande */
@media (min-width:1181px) and (max-width: 1600){

    .tipo-servicios {
        flex-flow: row wrap;
        width: 100vw;
        padding: 0vh 5vw;
    }

    .tipo-servicios div{
        display:flex;
    }

    .form-reservation{
        width: 100%;
        max-width: 800px;
    }

}




